
/*inicio css global */
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.container{
  padding: 120px 80px;
}

.destaque {
  font-weight: 700;
  font-style: italic;
}
h3{
  font-size: 30px;

  color: #3c184e;
  text-align: center;
  margin: 0 0 45px;
}
/*fim do css global*/
/*inicio css banner*/
.banner-topo {
  background-image: url(/imagens/banner-topo.jpg);
  background-position: center;
  background-position: cover;

}

.container-nome-logo {
  max-width: 250px;
  color: #3c184e;
}

.container-nome-logo .nome-pet-shop {
  font-size: 35px;
  margin: 0 0 10px 0
}

.container-nome-logo .slogan-pet-shop{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.patas  {
  display: inline-flex;
  justify-content: flex-start;
  max-width: 30px;
  

}

.container-titulo-topo {
  
  max-width: 1024px;
  border-radius: 18px;
  padding: 40px;
  margin: 70px auto 0;
  background-color: #ffffff68;
  box-shadow: 0 8px 38px #1f26875e;

}
.titulo-topo {
  font-size: 50px;
  color: #3c184e;
  text-align: center;
  font-weight: 800;
  margin: 0 0 40px;

}
.link-fale-conosco{
  text-align: center;
  width: 200px;
  padding: 10px 25px;
  background-color: #3c184e;
  border-radius: 10px;
  margin: 0 auto;
}
.link-fale-conosco a {
  color: #ffffff;
}

  
.container-titulo-topo img {
  width: 20px;
}
/*fim do banner */

/*inicio serviços */
.box-serviços {
  max-width: 800px;
  color:#3c184e;
  margin: 0 auto 50px;
}
.box-serviços li{
  font-size: 20px;
  margin: 0 0 20px;
}
.box-serviços-img {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.box-serviços img img {
  box-shadow: 3px 6px 10px 6px #000005;
  border-radius: 5px;
}
/*fim serviços*/

/*faixa1*/

.faixa {
  background-color:#3c184e;
  text-align: center;
}
.text-faixa {
  max-width: 800px;
  margin: 0 auto 50px;
  color: #fff;
  font-size: 20px;
}
.redes-sociais a {
  margin: 0 20px;
}
  .img-social {
  width: 50px;
  height: 50px;
  
 }
 /*fim faixa1*/

 /*marcas*/
 .container-marcas {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
 }
 .logo-marca {
  width: 148px;
  height: 148px;
  margin: 0 15px;
 }
 /*fim marcas*/
 
 /*local */

 .onde-estamos{
  text-align: center;

 }

 .onde-estamos p {
  color: #3c184e;
  font-size: 20px;
  margin: 0 0 45px;

 }

 .onde-estamos iframe {
  width: 800px;
  height: 450px;
 }
 /*fim local*/
 /*rodape*/
.rodape {
  background-color: #3c184e;
  padding: 10px;
}
.text-rodape {
  text-align: center;
  color:#fff;
}




  